<div class="flex flex-col">
  <div class="flex w-full justify-between">
    <% @forecast_json[:daily].first[1][:hourly].each_slice(3) do |i| %>
      <div class="flex flex-col p-8 items-center">
        <div>
          <%= I18n.l(Time.parse(i[0][0].to_s), format: "%-l %p") %>
        </div>
        <div class="w-full">
          <%= image_tag i[0][1][:icon] + ".svg" %>
        </div>
        <div>
          <%= i[0][1][:temperature][:fahrenheit] %>
        </div>
      </div>
    <% end %>
  </div>

  <hr />
  
  <div class="flex w-full justify-between divide-x">
    <% @forecast_json[:daily].each do |k, v| %>
      <div class="flex flex-col p-8 items-center w-1/7">
        <div>
          <%= v[:weekday] %>
        </div>
        <div class="w-full">
          <%= v[:weather] %>
        </div>
        <div class="w-full">
          <%= image_tag v[:weather].downcase.gsub(" ", "-") + "-day.svg" %>
        </div>
        <div>
          <%= v[:max_temperature][:fahrenheit] %>
        </div>
        <div>
          <%= v[:min_temperature][:fahrenheit] %>
        </div>
      </div>
    <% end %>
  </div>
</div>