<div class="flex w-full justify-between divide-x">
  <% @forecast_json[:daily].each do |k, v| %>
    <div class="flex flex-col p-8 items-center">
      <div>
        <%= v[:weekday] %>
      </div>
      <div>
        <%= v[:weather] %>
        <%= image_tag v[:weather].downcase.gsub(" ", "-") + "-day.svg" %>
      </div>
      <div>
        <%= v[:max_temperature][:fahrenheit] %>
      </div>
      <div>
        <%= v[:min_temperature][:fahrenheit] %>
      </div>
    </div>
  <% end %>
</div>
